{% extends "basic_template.html" %}
{% load staticfiles %}

{% block 'title'%}
<title> Doctor {{doctor.name}} </title>
<link rel="stylesheet" type="text/css" href="{% static 'registry/styles.css' %}"/>
{% endblock %}

{% block 'contents' %}
<a href="/registry">all doctors</a>
<h1> Doctor {{doctor.name}} </h1>
<div>
    <table class="table">
        {% for day in days %}
        <tr>
            <td>{{day.date}}</td>
            {% for hour in day.hours%}
            <td {% if hour.occupied %} class="occupied_time" {% else %} class="free_time" {% endif %}>
                <div>{{hour.time.range}}</div>
                {% if hour.occupied %}
                <div>occupied</div>
                {% else %}
                <div><a href="/registry/register?doctor={{doctor.id}}&time={{hour.time.id}}&date={{day.raw_date}}">register</a></div>
                {% endif %}
            </td>        
            {% endfor %}
        </tr>
        {% endfor %}
   </table>
</div>
{% endblock %}
